.hero-help-container {
  background-image: url("https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?size=626&ext=jpg&ga=GA1.1.255745393.1679070773&semt=sph");
  background-size: cover;
  background-repeat: no-repeat;
}
